Source: ros-humble-kinematic-pose-msgs
Section: misc
Priority: optional
Maintainer: Leonardo F. dos Santos <44267124+qleonardolp@users.noreply.github.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-common <!nocheck>, ros-humble-geometry-msgs, ros-humble-rosidl-default-generators, ros-humble-ros-workspace, ros-humble-rosidl-typesupport-fastrtps-c, ros-humble-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-kinematic-pose-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-geometry-msgs, ros-humble-rosidl-default-runtime, ros-humble-ros-workspace
Description: A package containing the Kinematic Pose message, for dynamic pose tracking.
